/* General Styles */

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #2c3e50;
}

header {
    background-color: #003366;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 50px;
}

/* Cards */
.card {
    background-color: #66cc33;
    width: 220px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    background-color: #558b2f;
}

.card h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #003366;
}

.card a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #ffcc00;
    color: #003366;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.card a:hover {
    background-color: #003366;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Reservation Page */
.reservation-container {
    text-align: center;
    padding: 60px;
}

.reservation-container h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #003366;
}

.reservation-options button {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #66cc33;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.reservation-options button:hover {
    background-color: #558b2f;
    transform: scale(1.1);
}

/* Footer */
footer {
    background-color: #002D6D;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
