/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #002D6D;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
    padding-top: 20px; /* Espacio entre el encabezado y la tarjeta */
    padding-bottom: 20px; /* Espacio entre la tarjeta y el pie de página */
}

.form-card {
    background-color: #58B947; /* Fondo verde */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-top: 20px; /* Espacio adicional entre el encabezado y la tarjeta */
    margin-bottom: 20px; /* Espacio adicional entre la tarjeta y el pie de página */
}

.form-card h2 {
    color: #002D6D; /* Título azul oscuro */
    margin-bottom: 20px;
}

form label {
    display: block;
    text-align: left;
    font-weight: bold;
    color: #002D6D;
    margin-top: 15px;
    margin-bottom: 5px;
}

form input[type="date"],
form input[type="time"],
form input[type="email"],
form select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
    background-color: #FFD700; /* Amarillo */
    color: #002D6D; /* Texto azul oscuro */
    padding: 15px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #FFB800; /* Amarillo más oscuro */
}

footer {
    background-color: #002D6D;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
