body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}
.login-header {
    background-color: #e0e0e0;
    padding: 15px 0;
    margin: -20px -20px 20px -20px;
}
.login-header h2 {
    margin: 0;
    color: #1E3A8A;
}
.login-container img {
    width: 100px;
    margin-bottom: 10px;
}
input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
    background-color: #e0e0e0;
}
a {
    text-decoration: none;
    color: #10B981;
    font-size: 14px;
}
a:hover {
    text-decoration: underline;
}
.login-container a.create-account {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #10B981;
}
.btn-login {
    background-color: #1E3A8A;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-login:hover {
    background-color: #163373;
}
