body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff; /* Fondo blanco */
    color: #2c3e50; /* Texto azul oscuro */
}

header {
    background-color: #003366; /* Azul oscuro del logo */
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #ffffff; /* Texto blanco */
}

header p{
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 50px;
}

.card {
    background-color: #66cc33; /* Verde similar al del logo */
    width: 220px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    background-color: #558b2f; /* Un verde más oscuro al hacer hover */
}

.card h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #003366; /* Texto azul oscuro */
}

.card a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #ffcc00; /* Amarillo del punto de la "i" */
    color: #003366; /* Texto azul oscuro */
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.card a:hover {
    background-color: #003366; /* Azul oscuro del logo */
    color: #ffffff; /* Texto blanco al hacer hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background-color: #002D6D;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cancel-btn {
    background-color: #ff4d4d; /* Color rojo para indicar cancelación */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cancel-btn:hover {
    background-color: #ff1a1a;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50; /* Verde para éxito */
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.notification.error { background-color: #f44336; } /* Rojo para errores */
.notification.show { opacity: 1; }

