/* General */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa; /* Fondo gris claro */
    color: #2c3e50; /* Texto azul oscuro */
}

/* Header */
header {
    background-color: #003366; /* Azul oscuro */
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #ffffff; /* Texto en azul */
}

header p {
    color: #fefefe; /* Texto en azul */
    font-size: 1.1em;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

h2 {
    font-size: 1.8em;
    color: #003366;
    margin-bottom: 20px;
}

/* Card */
.card {
    background-color: #e0e0e0; /* Fondo gris moderno */
    width: 280px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center; /* Centrando el contenido */
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    background-color: #d3d3d3; /* Gris un poco más oscuro en el hover */
}

.card h3 {
    font-size: 1.5em;
    margin: 0;
    color: #003366; /* Azul oscuro para los encabezados */
}

.card p {
    font-size: 1em;
    margin: 8px 0;
    color: #003366; /* Texto azul para mejor visibilidad */
}

/* Botón de cancelar */
.cancel-btn {
    display: block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ff3102; /* Amarillo */
    color: #003366; /* Texto azul */
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 100%;
}

.cancel-btn:hover {
    background-color: #b73e22; /* Amarillo un poco más oscuro en el hover */
}

/* Notification */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.notification.error {
    background-color: #f44336; /* Rojo para errores */
}

.notification.show {
    opacity: 1;
}

/* Footer */
footer {
    background-color: #002D6D;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
