.container {
  padding: 50px 20px;
  text-align: center;
}

.container > h2 {
  font-size: 2em;
  color: #003366; 
  margin-top: -15px;
  margin-bottom: 60px;
}

.formulario label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
}
