.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.welcome {
    text-align: center;
    margin-bottom: 30px;
}

.welcome h2 {
    font-size: 2em;
    color: #003366; 
    margin-top: -15px;
}