/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Fondo azul claro */
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ffffff; /* Azul oscuro */
    height: 100px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif; /* Fuente de letra alta y negrita */
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    color: #002D6D;
}

.logo-container {
    position: absolute;
    top: 2%;
    left: 3%;
}

.logo {
    width: 130px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
}

h1 {
    margin: 0;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #002D6D;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Azul oscuro */
    text-decoration: none;
}

/* Sección principal */
.container {
    padding: 50px 20px;
    text-align: center;
}

.container > h2 {
    font-size: 2em;
    color: #003366; 
    margin-top: -15px;
    margin-bottom: 60px;
}

/* Formulario */
.formulario {
    display: inline-block;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    text-align: left;
    margin-bottom: 100px;
    margin-top: -35px;
}

form label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
}

form input[type="text"], form select, form input[type="date"], form input[type="time"], form input[type="email"] {
    width: calc(100% - 22px);
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

form button {
    background-color: #002D6D; /* Azul claro */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #002D6D; /* Azul más oscuro */
}

/* Tabla */
table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 100px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    text-align: center;
    width: 110px;
}

table th {
    background-color: #6680a6; /* Azul oscuro */
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

.filter-buttons {
    margin-bottom: 20px;
    margin-top: -30px;
}

.filter-btn {
    background-color: #507daa; /* Gris claro */
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.filter-btn:hover {
    background-color: #003366; /* Gris más oscuro */
}

/* Footer */
footer {
    background-color: #002D6D;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Botones */
.button {
    background-color: #003366; 
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.button:hover {
    background-color: #001f4d; /* Verde más oscuro */
}

/* Notificaciones */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50; /* Verde para éxito */
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.notification.error {
    background-color: #f44336; /* Rojo para errores */
}

.notification.show {
    opacity: 1;
}

/* Estilos adicionales */
.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}

/* Estilos de la Card */
.card-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    gap: 20px; /* Espacio entre cada card */
    flex-wrap: wrap; /* Asegurar que las tarjetas se ajusten en pantallas pequeñas */
}

.card {
    background-color: #fff; /* Fondo blanco */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    width: 210px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar en el eje Y */
    align-items: center; /* Centrar en el eje X */
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    justify-items: center; 
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    background-color: #e0e0e0; /* Gris claro */
}

.card h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #003366; /* Texto azul oscuro */
     transition: color 0.3s ease;
    line-height: 1.5;
}

.card i {
    color: #003366; /* Color del icono */
    transition: color 0.3s ease;
}

.card:hover i, .card:hover h2 {
    color: #1E90FF; /* Azul más claro */
}


/* Estilos específicos de reservasEstu */
.step-content1 {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    width: 80%;
}

.progress-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.step {
    text-align: center;
    flex: 1;
}

.circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #58B947;
    color: white;
    border-radius: 50%;
    line-height: 30px;
}

.step.completed .circle {
    background-color: #002D6D;
}

/* Paso 2: Workspace Container */
.workspace-container {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}


/* Contenedor que mostrará los espacios de trabajo */
.workspace-grid {
    display: flex;
    flex-wrap: wrap; /* Permite que los espacios de trabajo se ajusten en varias filas */
    gap: 10px; /* Añade espacio entre los elementos */
    justify-content: center; /* Centra los espacios en el contenedor */
}

.workspace {
    background-color: #6398e2;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px; /* Define un ancho fijo para los espacios */
    height: 80px; /* Define una altura fija para los espacios */
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace.occupied {
    background-color: red;
    cursor: not-allowed;
}

.workspace.selected {
    background-color: #002D6D;
}


.occupied {
    background-color: red;
    pointer-events: none; /* Deshabilita la interacción con el escritorio ocupado */
}


/* Lab Selector */
.lab-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.lab-selector select {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #002D6D;
    color: white;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.lab-selector select:focus {
    outline: none; /* Elimina el contorno predeterminado del focus */
    background-color: #004494; /* Color al enfocar */
}

.lab-selector select option {
    background-color: #ffffff;
    color: black;
    padding: 10px; /* Espaciado interno para opciones */
}

/* Estilo para mejorar la experiencia de usuario */
.lab-selector select option:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}

.lab-selector select option:disabled {
    color: #ccc; /* Color gris para la opción no seleccionable */
}

/* Estilos específicos para ReservasSuperAdmin */
.reservation-container {
    padding: 50px 20px;
    text-align: center;
}

.reservation-container h2 {
    font-size: 2em;
    color: #003366; 
    margin-top: -15px;
    margin-bottom: 60px;
}

.reservation-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reservation-options button {
    background-color: #003366;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.4em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
    height: 60px;
    margin: auto;
}

.reservation-options button:hover {
    background-color: #6680a6;
}

.alert {
    display: none;
    background-color: #28a745;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

/* Icono de cancelar */
.cancel-icon {
    text-align: center;
    margin: auto;
}

.cancel-btn {
    background-color: red;
    border: none;
    color: #fff; /* Rojo */
    cursor: pointer;
    font-size: 1.2em;
}


.cancel-btn:active {    
    transform: scale(0.9);
}
.cancel-btn {
    transition: transform 0.2s ease-in-out;
}

.cancel-btn:hover {
    background-color: rgb(209, 14, 14);
    transform: scale(1.1);
}

.confirm-section {
    text-align: left;
}

.confirm-section .instruction {
    margin-bottom: 20px;
}

.reservation-details {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.detail-label {
    font-weight: bold;
}

.add-companion {
    margin-bottom: 20px;
}

.add-companion .btn {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-companion .btn:hover {
    background-color: #001f4d;
}

#companion-input {
    margin-top: 10px;
}

#companion-input label {
    display: block;
    margin-bottom: 5px;
}

#companion-input input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
}

.confirm-btn {
    background-color: #002D6D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 150px;
}

.confirm-btn:hover {
    background-color: #001f4d;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    padding: 16px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

textarea{
    width: 95%;
    height: 100px;
    margin-bottom: 50px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
}